.contactForm {
  position: absolute;
  top: 675vh;
  right: 27vw;
  background-color: #f5f3f4;
  color: #f5f3f4;
}

input[type=text] {
  border: none;
  background-color: #f5f3f4;
  color: #f5f3f4;
  padding: 10px;
  transition: width 1s ease-in-out;
}

input[type=text]:focus {
  width: 30vh;
  color: #ffffff;
  border: 1px solid #3e70b4;
}

.input[type=text]:focus {
  color: #ffffff;
  border: 1px solid #3e70b4;
}