.box {
  position: absolute;
  top: 660%;
  right: -3.5%;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(57, 108, 178, 0.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.contact-box:focus {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  border: none;
}

.box .contact-box input {
  font-family: 'Montserrat';
  width: 400px;
  min-width: 340px;
  max-width: 340px;
  padding: 10px 10px;
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  max-width: 100%;
}

.box .contact-box input:focus {
  border: none;
  width: 400px;
  min-width: 340px;
  max-width: 340px;
  color: #fff;
  box-shadow: 1px 2px 5px 2px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  transition: .25s ease-in;
  padding: 10px;
}

.box .contact-box input:not(:focus) {
  border: none;
  width: 400px;
  min-width: 340px;
  max-width: 340px;
  transition: .25s ease-out;
}

::placeholder {
  color: #ffffff;
  opacity: 0.8;    
}

.box form a {
  font-family: 'Montserrat';
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.box a:hover {
  background: #ffbd59;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 4px rgba(255, 255, 255, 0.8),
}

.box a span {
  position: absolute;
  display: block;
}

.box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffbd59);
  animation: btn-anim1 3s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.box a span:nth-child(2) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffbd59);
  animation: btn-anim2 2.5s linear infinite;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


/* -------------------------------- TABLET ---------------------------------------- */

.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
}

.title-tablet {
  position: absolute;
  top: 975vh;
  left: 20vw;
  font-size: 32px;
  color: #396cb2;
  font-family: 'Montserrat';
  font-weight: 800;
}

.subtitle-tablet {
  position: absolute;
  top: 980vh;
  left: 35vw;
  font-size: 24px;
  color: #396cb2;
  font-family: 'Montserrat';
  font-weight: 500;
}

.box-tablet {
  position: absolute;
  top: 995vh;
  left: 50vw;
  width: 640px;
  min-width: 640px;
  max-width: 640px;
  padding: 30px;
  transform: translate(-50%, -50%);
  background: rgba(57, 108, 178, 0.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.contact-box-tablet:focus {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  border: none;
}

.box-tablet .contact-box-tablet input {
  font-family: 'Montserrat';
  width: 300px;
  min-width: 240px;
  max-width: 240px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  max-width: 100%;
}

.box-tablet .contact-box-tablet input:focus {
  border: none;
  box-shadow: 1px 2px 5px 2px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  transition: .25s ease-in;
  padding: 10px;
}

.box-tablet .contact-box-tablet input:not(:focus) {
  border: none;
  transition: .25s ease-out;
}

::placeholder {
  color: #ffffff;
  opacity: 0.8;    
}

.box-tablet form a {
  font-family: 'Montserrat';
  position: relative;
  display: inline-block;
  padding: 10px 5px;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.box-tablet a:hover {
  background: #ffbd59;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 4px rgba(255, 255, 255, 0.8),
}

.box-tablet a span {
  position: absolute;
  display: block;
}

.box-tablet a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #72757b);
  animation: btn-anim1 3s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.box-tablet a span:nth-child(2) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #72757b);
  animation: btn-anim2 2.5s linear infinite;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/* -------------------------------- MOBILE ---------------------------------------- */

.footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
}

.title {
  position: absolute;
  top: 1005vh;
  left: 10vw;
  font-size: 26px;
  color: #396cb2;
  font-family: 'Montserrat';
  font-weight: 800;
}

.subtitle {
  position: absolute;
  top: 1010vh;
  left: 28vw;
  font-size: 20px;
  color: #396cb2;
  font-family: 'Montserrat';
  font-weight: 500;
}

.box-mobile {
  position: absolute;
  top: 1030vh;
  left: 52vw;
  width: 340px;
  min-width: 340px;
  max-width: 340px;
  padding: 20px;
  transform: translate(-50%, -50%);
  background: rgba(57, 108, 178, 0.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.contact-box-mobile:focus {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  border: none;
}

.box-mobile .contact-box-mobile input {
  font-family: 'Montserrat';
  width: 300px;
  min-width: 240px;
  max-width: 240px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  max-width: 100%;
}

.box-mobile .contact-box-mobile input:focus {
  border: none;
  box-shadow: 1px 2px 5px 2px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  transition: .25s ease-in;
  padding: 10px;
}

.box-mobile .contact-box-mobile input:not(:focus) {
  border: none;
  transition: .25s ease-out;
}

::placeholder {
  color: #ffffff;
  opacity: 0.8;    
}

.box-mobile form a {
  font-family: 'Montserrat';
  position: relative;
  display: inline-block;
  padding: 10px 5px;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.box-mobile a:hover {
  background: #ffbd59;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 4px rgba(255, 255, 255, 0.8),
}

.box-mobile a span {
  position: absolute;
  display: block;
}

.box-mobile a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #72757b);
  animation: btn-anim1 3s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.box-mobile a span:nth-child(2) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #72757b);
  animation: btn-anim2 2.5s linear infinite;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
