.arrow{
    transform: translate(-50%,-50%);
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 15px;
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid #ffbd59;
    border-right: 3px solid #ffbd59;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.arrow-mobile{
    transform: translate(-50%,-50%);
    align-self: center;
    margin-top: 70px;
    height: 10vh;
}
.arrow-mobile span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #ffbd59;
    border-right: 3px solid #ffbd59;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow-mobile span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-mobile span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}